* {
    font-family: Tahoma, sans-serif;
}

.GS-marinade{
    background-color: cadetblue;
    color: blue;
}

#goat{
    background-color: aliceblue;
    text-align: center;
}

#goat2{
    color: beige;
    background-color: blanchedalmond;
}

#goat3{
    color: red;
    background-color: black;
}

.thebestyuh{
    color: blueviolet;
    background-color: yellow;
}

#bettergoat{
    color: red;
    background-color: black;
}

#whaaat{
    color: blue;
    background-color: chocolate;
}